{% extends "index_index.html" %}

{% block header %}
<h1 class="header-title">{{ item.title }}</h1>
<p class="header-date">By <a href="/author/{{ item.author }}">{{ item.author }}</a>, {{ item.date }}, 分类： <a href="/category/{{ item.category }}">{{ item.category }}</a></p>
<div class="header-underline"></div>
<div class="clearfix"></div>
<p class="pull-right header-tags">
  <span class="glyphicon glyphicon-tags mr5" aria-hidden="true"></span>
  <a href="/tag/item.tag">metaclass</a>
</p>
{% endblock %}

{% block archive %}
<div class="container content">
  <article>
    <p>{{ item.text | safe }}</p>
  </article>
</div>
{% endblock %}

{% block navigation %}
{% endblock %}
