{% extends "index_index.html" %}

{% block archive %}
<div class="archive-container">
  <div class="container content archive">
    {% for item in items %}
      <h2><a href="https://foofish.net/index.html">{{ item.category }}</a></h2>
      <dl class="dl-horizontal">
        {% for article in item.articles %}
          <dt>{{ article.date }}</dt>
          <dd><a href="/article/{{ article.id }}">{{ article.title }}</a></dd>
        {% else %}
          <li>This would display if the 'item' collection were empty</li>
        {% endfor %}
      </dl>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block navigation %}
{% endblock %}

